{% extends "base.html" %}
{% block body %}
<h1>Ajouter un nouveau contact ici</h1>
<form method="POST" action="/attribute" class="content">
  <input type="number" name="matricule" min="10000" max="99999" oninput="if(this.value.length > 5) this.value = this.value.slice(0,5);" placeholder="Matricule" required><br><br>
  <input type="text" name="nom" placeholder="Nom de l'utilisateur" required><br><br>
  <input type="number" name="tel" min="20000000" max="99999999" oninput="if(this.value.length > 8) this.value = this.value.slice(0,8);" placeholder="Téléphone" required><br><br>
  <label for="service" class="service">Service:
  </label>
   <select id="service" title="service" name="service" required>
    <optgroup label="Contrôle des opérations">
        <option value="1">Administratif</option>
        <option value="2">Affaires générales</option>
    </optgroup>
    <optgroup label="Services et réseau">
        <option value="3">Maintenance matériel</option>
        <option value="4">Réseau</option>
    </optgroup>
    <optgroup label="Édition">
        <option value="5">Suivi des entretiens</option>
    </optgroup>
    <optgroup label="Équipements annexes">
        <option value="6">Sécurité physique</option>
    </optgroup>
</select><br><br>
  <select id="type" title="type" name="type" required>
    <option value="Agent" selected>Agent</option>
    <option value="Administrateur">Administrateur</option>
  </select><br><br>
  <input type="password" name="pwrd" placeholder="Mot de passe" required><br><br>
  <button type="submit">&#43; Ajouter</button>
</form>
<p>{{info_pwrd}}</p><br>
<p>{{info_tel}}</p><br>
<p>{{info_service}}</p><br>
<p>{{ info_ajout }}</p>
<br><br>
<form method="post" action="/return-dashboard"><button type="submit" class="retour">&#128281; Retour</button></form>
<form method="post" action="/logout"><button class="quit">&#10060; Déconnecter</button></form>
{% endblock %}