{% extends "base.html" %}
{% block body %}
<h3>Ajouter un nouveau contact ici</h3>
<form method="POST" action="/attribute" class="content">
  <input type="number" name="matricule" min="10000" max="99999" oninput="if(this.value.length > 5) this.value = this.value.slice(0,5);" placeholder="Matricule" required><br><br>
  <input type="text" name="nom" placeholder="Nom de l'utilisateur" required><br><br>
  <input type="number" name="tel" min="20000000" max="99999999" oninput="if(this.value.length > 8) this.value = this.value.slice(0,8);" placeholder="Téléphone" required><br><br>
  <label for="division" class="division">Division:
  </label>
   <select id="division" name="division" required>
    {% for division in divisions%}
      <option value={{division.Id_division}}>{{division.nom}}</option>
      {% endfor %}
  </select><br><br>
  <select id="type" name="type" required>
    <option value="Agent" selected>Agent</option>
    <option value="Administrateur">Administrateur</option>
  </select><br><br>
  <input type="password" name="pwrd" placeholder="Mot de passe" required><br><br>
  <button type="submit">&#43; Ajouter</button>
</form>
<p>{{info_pwrd}}</p>
<p>{{ info_ajout }}</p>
<br><br>
<form method="post" action="/return-dashboard"><button type="submit" class="retour">&#128281; Retour</button></form>
<form method="post" action="/home"><button class="quit">&#10060; Déconnecter</button></form>
{% endblock %}