{% extends "base.html" %}
{% block body %}
<h1>Ajouter un nouveau contact ici</h1>
<form method="POST" action="/attribute" class="content">
  <input type="number" name="matricule" min="10000" max="99999" oninput="if(this.value.length > 5) this.value = this.value.slice(0,5);" placeholder="Matricule" required><br><br>
  <input type="text" name="nom" placeholder="Nom de l'utilisateur" required><br><br>
  <input type="number" name="tel" min="20000000" max="99999999" oninput="if(this.value.length > 8) this.value = this.value.slice(0,8);" placeholder="Téléphone" required><br><br>
  <label for="service" class="service">Service:
  </label>
   <select id="service" name="service" required>
    <optgroup label="Software">
        <option value="1">Web</option>
        <option value="2">App</option>
        <option value="3">Intelligence Artificielle</option>
    </optgroup>
    <optgroup label="Télécommunication">
        <option value="4">Réseau</option>
        <option value="5">Communication</option>
        <option value="6">Cybersécurité</option>
    </optgroup>
    <optgroup label="Hardware">
        <option value="7">CPU</option>
        <option value="8">GPU</option>
        <option value="9">TTL</option>
    </optgroup>
    <optgroup label="Direction">
        <option value="10">Gestion</option>
        <option value="11">Ressources Humaines</option>
        <option value="12">Relations externes</option>
    </optgroup>
</select><br><br>
  <select id="type" name="type" required>
    <option value="Agent" selected>Agent</option>
    <option value="Administrateur">Administrateur</option>
  </select><br><br>
  <input type="password" name="pwrd" placeholder="Mot de passe" required><br><br>
  <button type="submit">&#43; Ajouter</button>
</form>
<p>{{info_pwrd}}</p><br>
<p>{{info_tel}}</p><br>
<p>{{info_service}}</p><br>
<p>{{ info_ajout }}</p>
<br><br>
<form method="post" action="/return-dashboard"><button type="submit" class="retour">&#128281; Retour</button></form>
<form method="post" action="/logout"><button class="quit">&#10060; Déconnecter</button></form>
{% endblock %}