{% extends "base.html" %}
{% block body %}
<h1>Modifier le contact de {{user.nom}}</h1>
<form action="/edit/{{user.matricule}}" method="POST" class="content">
    <input type="text" name="nom" id="nom" value="{{user.nom}}" placeholder="Nom" required>
    <input type="number" name="tel" id="tel" value="{{user.tel}}" placeholder="Téléphone" required>
    <label for="service" class="service">Service:
    </label>
      <select id="service" title="service" name="service">
      <optgroup label="Software">
        <option value="Web">Web</option>
        <option value="App">App</option>
        <option value="IA">Intelligence Artificielle</option>
    </optgroup>
    <optgroup label="Télécommunication">
        <option value="Réseau">Réseau</option>
        <option value="Communication">Communication</option>
        <option value="Cybersécurité">Cybersécurité</option>
    </optgroup>
    <optgroup label="Hardware">
        <option value="CPU">CPU</option>
        <option value="GPU">GPU</option>
        <option value="TTL">TTL</option>
    </optgroup>
    <optgroup label="Direction">
        <option value="Gestion">Gestion</option>
        <option value="RH">Ressources Humaines</option>
        <option value="Relations externes">Relations externes</option>
    </optgroup>
    </select><br><br>
    <select id="type" name="type" title="type" required>
      {%if user.acces=="Agent"%}
                <option value="Agent" selected>Agent</option>
                <option value="Administrateur">Administrateur</option>
      {% else %}
                <option value="Administrateur" selected>Administrateur</option>
                <option value="Agent">Agent</option>
      {% endif %}
    </select><br><br>
    <input type="password" name="pwrd" placeholder="Mot de passe" required><br><br>
    <button type="submit">&#128395; Modifier</button>
</form>
<p>{{ info_edit }}</p><br>
<p>{{info_pwrd}}</p><br>
<p>{{info_tel}}</p><br>
<p>{{info_service}}</p>
<br><br>
{%if profil==1%}
<form method="post" action="/return-profil"><button type="submit" class="retour">&#128281; Retour</button></form>
{%else%}
<form method="post" action="/return-search"><button type="submit" class="retour">&#128281; Retour</button></form>
{%endif%}
<form method="post" action="/logout"><button class="quit">&#10060; Déconnecter</button></form>
{% endblock %}