{% extends "base.html" %}

{% block body %}
<h1>Votre Profil</h1>
<ol>
<h3>Matricule: {{user.matricule}}</h3>
<h3>Nom: {{ user.nom }}</h3>
<h3>Numéro de téléphone: {{user.tel}}</h3>
<h3>Division: {{ user.division.nom }}</h3>
<h3>Type d'accés: {{user.acces}}</h3>
</ol>
{% if user.acces == 'Agent' %}
<form method="POST" action="/edit-agent/{{ user.matricule }}" class="edit-agent">
    <button type="submit">&#128395; Modifier votre profil</button>
</form>
{% else %}
<form method="POST" action="/edit-all/{{ user.matricule }}" class="edit-all">
    <button type="submit">&#128395; Modifier votre profil</button>
</form>
{% endif %}
<p>{{info_tel}}</p>
<p>{{info_pwrd}}</p>
<br><br>
<form method="post" action="/return-dashboard"><button type="submit" class="retour">&#128281; Retour</button></form>
<form method="post" action="/home"><button class="quit">&#10060; Déconnecter</button></form>
{% endblock %}