{% extends "base.html" %}

{% block body %}
{%if user.acces == 'Administrateur'%}
<h1>L'accés n'est pas autorisé</h1>
<form method="post", action="/logout"><button type ="submit" class="auth">Login</button></form>
{%else%}
  <h1>Veuillez utiliser la barre de recherche</h1>
  <form method="POST" action="/search-agent" class="content">
    <input class="search-container" type="text" name="search" placeholder="Nom ou num tel"><br><br>
      <select id="service" name="service">
      <option value="">---Service---</option>
      <optgroup label="Software">
        <option value="Web">Web</option>
        <option value="App">App</option>
        <option value="IA">Intelligence Artificielle</option>
    </optgroup>
    <optgroup label="Télécommunication">
        <option value="Réseau">Réseau</option>
        <option value="Communication">Communication</option>
        <option value="Cybersécurité">Cybersécurité</option>
    </optgroup>
    <optgroup label="Hardware">
        <option value="CPU">CPU</option>
        <option value="GPU">GPU</option>
        <option value="TTL">TTL</option>
    </optgroup>
    <optgroup label="Direction">
        <option value="Gestion">Gestion</option>
        <option value="RH">Ressources Humaines</option>
        <option value="Relations externes">Relations externes</option>
    </optgroup>
    </select>
    <button type="submit">&#128269; Rechercher</button><br><br>
  </form><br><br>
{% if results %}
    <table  width="100%" cellspacing="0" cellpadding="5">
      <thead>
          <th>Matricule</th>
          <th>Nom</th>
          <th>Numéro de téléphone</th>
          <th>Service</th>
          <th>Division</th>
      </thead>
  {% for result in results %}
      <tr>
          <td>{{ result.matricule }}</td>
          <td>{{ result.nom }}</td>
          <td>{{ result.tel }}</td>
          <td>{{ result.service.nom }}</td>
          <td>{{ result.service.division.nom}}</td>
      </tr>
  {% endfor %}
  </table>
  <form method="POST" action="/download" style="margin-top: 20px;">
      <input type="hidden" name="search" value="{{ request.form.get('search', '') }}">
      <input type="hidden" name="service" value="{{ request.form.get('service', '') }}">
      <button type="submit">&#128190; Télécharger en PDF</button><br><br>
  </form>
  <div class="pagination">
  {% if results.has_prev %}
    <a class="suivant" href="{{ url_for('search', page=results.prev_num, search=search, service=service) }}"><button>Précédent</button></a>
  {% endif %}
    Page {{ results.page }} sur {{ results.pages }}
{% if results.has_next %}
    <a class="suivant" href="{{ url_for('search', page=results.next_num, search=search, service=service) }}"><button>Suivant</button></a>
  {% endif %}
</div><br><br>
{% endif %}<br><br>
<form method="post" action="/return-dashboard"><button type="submit" class="retour">&#128281; Retour</button></form>
    <form method="post" action="/logout"><button class="quit">&#10060; Déconnecter</button></form>
  {%endif%}
{% endblock %}