{% extends "base.html" %}

{% block body %}
{%if user.acces == 'Agent'%}
<h1>L'accés n'est pas autorisé</h1>
<form method="post", action="/logout"><button type ="submit" class="auth">&#10140; Login</button></form>
{%else%}
<h1>Utiliser la barre de recherche pour rechercher le contact à modifier ou à supprimer</h1>
  <form method="POST" action="/search-admin" class="content">
    <input class="search-container" type="text" name="search" placeholder="Nom ou num tel" value="{{ search|default('') }}"><br><br>
    <select id="service" title="service" name="service">
      <option value="">---Service---</option>
      <optgroup label="Contrôle des opération">
        <option value="1">Préparation</option>
        <option value="2">Assistance utilisateurs informatique</option>
        <option value="3">Programmation</option>
        <option value="4">Exploitation</option>
    </optgroup>
    <optgroup label="Maintenance informatique et réseau">
        <option value="5">Maintenance matériel</option>
        <option value="6">Maintenance réseau</option>
    </optgroup>
    <optgroup label="Édition">
        <option value="7">Impression</option>
        <option value="8">Mise sous pli</option>
    </optgroup>
    <optgroup label="Équipements annexes">
        <option value="9">Gestion</option>
        <option value="10">Secrétariat</option>
    </optgroup>
    </select>
    <button type="submit">&#128269; Rechercher</button><br><br
  </form><br><br>
{% if results.pages > 0 %}
    <table  width="100%" cellspacing="0" cellpadding="5">
      <thead>
          <th>Matricule</th>
          <th>Nom</th>
          <th>Numéro de téléphone</th>
          <th>Service</th>
          <th>Division</th>
          <th>Modification</th>
          <th>Suppression</th>
      </thead>
  {% for result in results %}
      <tr>
          <td>{{ result.matricule }}</td>
          <td>{{ result.nom }}</td>
          <td>{{ result.tel }}</td>
          <td>{{ result.service.nom }}</td>
          <td>{{ result.service.division.nom}}</td>
          {% if result.matricule != user.matricule%}
          <td>
                  <a class="btn" href="/edit/{{ result.matricule }}">&#128395; Modifier</a>
          </td>
          <td>
              <form method="POST" action="/delete/{{ result.matricule }}" style="display:inline;">
                <button type="submit">&#128465; Supprimer</button>
              </form>
          </td>
          {%else%}
          <td colspan="2"><form method="post" action="/return-profil" style="display:inline;"><button class="profil-in-search" type="submit">Profil</button></form></td>
          {%endif%}
      </tr>
  {% endfor %}
  </table>
  <form method="POST" action="/download" style="margin-top: 20px;">
      <input type="hidden" name="search" value="{{ search|default('') }}">
      <input type="hidden" name="service" value="{{ service|default('') }}">
      <button type="submit">&#128190; Télécharger en PDF</button><br><br>
  </form>
  <div class="pagination">
  {% if results.has_prev %}
    <a class="suivant" href="{{ url_for('search_admin', page=results.prev_num, search=search, service=service) }}"><button>&#x2B05; Précédent</button></a>
  {% endif %}
    Page {{ results.page }} sur {{ results.pages }}
{% if results.has_next %}
    <a class="suivant" href="{{ url_for('search_admin', page=results.next_num, search=search, service=service) }}"><button>&#x27A1; Suivant</button></a>
  {% endif %}
</div><br><br>
{%else%}
<h1>Aucun résultat pour cette requête</h1>
{% endif %}<br><br>
<p>{{ info_edit }}</p>
<p>{{ info_delete }}</p>
<br><br>
<form method="post" action="/return-dashboard"><button type="submit" class="retour">&#128281; Retour</button></form>
<form method="post" action="/logout"><button class="quit">&#10060; Déconnecter</button></form>
{%endif%}
{% endblock %}